<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="margin: 30px">
  <button class="btn btn-success" style="margin-left: 400px;" (click)="callApi()">Get the data</button>
  <button class="btn btn-success" style="margin-left: 200px;" (click)="cleanApi()">Clean the data</button>
</div>
<app-loader-image></app-loader-image>

<div class="row" style="margin-top: 50px">
  <div class="col-md-5"></div>
  <div class="col-md-4" >
    <div style="font-size: 16px; margin-bottom: 5px;" *ngFor="let user of userEmails"> {{user.email}}</div>
  </div>
  <div class="col-md-3"></div>
</div>
  

